.header {
    color: #ffffff;
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    background-color: #313b46;
    width: 100%;
}

.navbar-nav a {
    color: #ffffff;
}

.navbar-nav a:hover {
    color: var(--linkColorHover);
}

.header-content {
    background-image: url('/images/header_img.jpeg');
    text-align: center;
    width: 100%;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.header-content h3 {
    font-family: Raleway-Medium;
    font-size: var(--h3-font-size);
}

.header-content h4 {
    font-family: Raleway-Light;
    margin-bottom: 3rem;
    font-size: var(--h4-font-size);
}

.btn-portfolio {
    font-size: 0.813em;
    font-family: Raleway-Medium;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #3f8dbf;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 0.5rem 1rem;
}